{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title style="color:blue">Golang MySQL CRUD Example</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1 style="color:blue">Golang MySQL CRUD Example</h1>
        <hr>   
{{ end }}