{{ define "Show" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <h2> {{ .Id }}번 회원 </h2>
      <p><b> 이름 : {{ .Name }}</b></p>
      <p><b>   도시 :  {{ .City }}</b></p><br /> <a href="/edit?id={{ .Id }}"> 수정하기 </a></p>
  {{ template "Footer" }}
{{ end }}